<div class="main-content">
    <div class="header">
        <div class="container-fluid">

            <!-- Body -->
            <div class="header-body">
                <div class="row align-items-end">
                    <div class="col">

                        <!-- Pretitle -->
                        <h6 class="header-pretitle">
                            overview
                        </h6>

                        <!-- Title -->
                        <h1 class="header-title">
                            Produtos
                        </h1>

                    </div>
                    <div class="col-auto">
                        <!-- Button -->
                        <a routerLink="/addproduct" class="btn btn-outline-dark">
                            Criar Produto
                        </a>
                    </div>

                </div>
                <!-- / .row -->
            </div>
            <!-- / .header-body -->

        </div>
        <div class="col-12" id="tab-produtos">

            <!-- Performance -->
            <div class="card">
                <div class="card-header">

                    <!-- Title -->
                    <h4 class="card-header-title">
                        Performance
                    </h4>
                </div>
                <div class="table-responsive mb-0">
                    <table class="table table-sm table-nowrap card-table">
                        <thead>
                            <tr>
                                <th>
                                    Member
                                </th>
                                <th>
                                    Schedule
                                </th>
                                <th>
                                    Hours Billed
                                </th>
                                <th>
                                    Completion
                                </th>
                                <th>
                                    Effective Rate
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>

                                    <!-- Avatar -->
                                    <a href="profile-posts.htmL" class="avatar avatar-xs d-inline-block mr-2">
                                        <img src="assets/img/avatars/profiles/avatar-1.jpg" alt="..." class="avatar-img rounded-circle">
                                    </a>

                                    <!-- Title -->
                                    <span>Dianna Smiley</span>

                                </td>
                                <td>
                                    <span class="text-success">●</span> On Schedule
                                </td>
                                <td>
                                    271
                                </td>
                                <td>
                                    <div class="row align-items-center no-gutters">
                                        <div class="col-auto">

                                            <!-- Value -->
                                            <span class="mr-2">55%</span>

                                        </div>
                                        <div class="col">

                                            <!-- Progress -->
                                            <div class="progress progress-sm">
                                                <div class="progress-bar bg-secondary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- / .row -->
                                </td>
                                <td>
                                    $55.25%
                                </td>
                            </tr>
                            <tr>
                                <td>

                                    <!-- Avatar -->
                                    <a href="profile-posts.html" class="avatar avatar-xs d-inline-block mr-2">
                                        <img src="assets/img/avatars/profiles/avatar-2.jpg" alt="..." class="avatar-img rounded-circle">
                                    </a>

                                    <!-- Title -->
                                    <span>Ab Hadley</span>

                                </td>
                                <td>
                                    <span class="text-warning">●</span> Delayed
                                </td>
                                <td>
                                    44
                                </td>
                                <td>
                                    <div class="row align-items-center no-gutters">
                                        <div class="col-auto">

                                            <!-- Value -->
                                            <span class="mr-2">25%</span>

                                        </div>
                                        <div class="col">

                                            <!-- Progress -->
                                            <div class="progress progress-sm">
                                                <div class="progress-bar bg-secondary" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- / .row -->
                                </td>
                                <td>
                                    $122.52%
                                </td>
                            </tr>
                            <tr>
                                <td>

                                    <!-- Avatar -->
                                    <a href="profile-posts.html" class="avatar avatar-xs d-inline-block mr-2">
                                        <img src="assets/img/avatars/profiles/avatar-3.jpg" alt="..." class="avatar-img rounded-circle">
                                    </a>

                                    <!-- Title -->
                                    <span>Adolfo Hess</span>

                                </td>
                                <td>
                                    <span class="text-success">●</span> On Schedule
                                </td>
                                <td>
                                    271
                                </td>
                                <td>
                                    <div class="row align-items-center no-gutters">
                                        <div class="col-auto">

                                            <!-- Value -->
                                            <span class="mr-2">55%</span>

                                        </div>
                                        <div class="col">

                                            <!-- Progress -->
                                            <div class="progress progress-sm">
                                                <div class="progress-bar bg-secondary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- / .row -->
                                </td>
                                <td>
                                    $55.25%
                                </td>
                            </tr>
                            <tr>
                                <td>

                                    <!-- Avatar -->
                                    <a href="profile-posts.html" class="avatar avatar-xs d-inline-block mr-2">
                                        <img src="assets/img/avatars/profiles/avatar-4.jpg" alt="..." class="avatar-img rounded-circle">
                                    </a>

                                    <!-- Title -->
                                    <span>Daniela Dewitt</span>

                                </td>
                                <td>
                                    <span class="text-warning">●</span> Delayed
                                </td>
                                <td>
                                    44
                                </td>
                                <td>
                                    <div class="row align-items-center no-gutters">
                                        <div class="col-auto">

                                            <!-- Value -->
                                            <span class="mr-2">25%</span>

                                        </div>
                                        <div class="col">

                                            <!-- Progress -->
                                            <div class="progress progress-sm">
                                                <div class="progress-bar bg-secondary" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- / .row -->
                                </td>
                                <td>
                                    $122.52%
                                </td>
                            </tr>
                            <tr>
                                <td>

                                    <!-- Avatar -->
                                    <a href="profile-posts.html" class="avatar avatar-xs d-inline-block mr-2">
                                        <img src="assets/img/avatars/profiles/avatar-5.jpg" alt="..." class="avatar-img rounded-circle">
                                    </a>

                                    <!-- Title -->
                                    <span>Miyah Myles</span>

                                </td>
                                <td>
                                    <span class="text-success">●</span> On Schedule
                                </td>
                                <td>
                                    271
                                </td>
                                <td>
                                    <div class="row align-items-center no-gutters">
                                        <div class="col-auto">

                                            <!-- Value -->
                                            <span class="mr-2">55%</span>

                                        </div>
                                        <div class="col">

                                            <!-- Progress -->
                                            <div class="progress progress-sm">
                                                <div class="progress-bar bg-secondary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- / .row -->
                                </td>
                                <td>
                                    $55.25%
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
    <!-- / .header -->

</div>