<div class="main-content">
    <div class="header">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-end">
                    <div class="col">

                        <!-- Pretitle -->
                        <h6 class="header-pretitle">
                            produtos
                        </h6>

                        <!-- Title -->
                        <h1 class="header-title">
                            Adicionar Novo Curso
                        </h1>


                    </div>
                </div>
                <!-- / .row -->
            </div>
            <div class="col-12 ">

                <div class="mb-4">
                    <form class="new_product" id="new_product" action="/dashboard/products" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="vBBvGWkpJMZjkAmoraRixJrIEzawdBijHtMBZiq8GhsC0JwOrN73XxeW9k4mgdXYM8SEDggWVzfUy6Yhd68yVA==">
                        <div class="col-12">
                            <div class="row align-items-center">
                                <div class="col">
                                    <!-- Heading -->
                                    <h4 class="mb-1">
                                        Imagem de capa (Horizontal)
                                    </h4>
                                    <!-- Text -->
                                    <small class="text-muted">
                            PNG or JPG não maior que 367x190px de largura e altura, ou dimensões proporcionais
                            </small>
                                </div>
                                <div class="col-md-5 col-sm-12 mt-3">
                                    <div class="form-group">
                                        <div class="custom-file">
                                            <input class="custom-file-input" type="file" name="course[cover_horizontal]" id="course_cover_horizontal">
                                            <label class="custom-file-label" for="course_cover_horizontal">Selecione nova imagem</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row align-items-center">
                                <div class="col">
                                    <!-- Heading -->
                                    <h4 class="mb-1">
                                        Imagem de capa (Vertical)
                                    </h4>
                                    <!-- Text -->
                                    <small class="text-muted">
                            PNG or JPG não maior que 367x190px de largura e altura, ou dimensões proporcionais
                            </small>
                                </div>
                                <div class="col-md-5 col-sm-12 mt-3">
                                    <div class="form-group">
                                        <div class="custom-file">
                                            <input class="custom-file-input" type="file" name="course[cover_horizontal]" id="course_cover_horizontal">
                                            <label class="custom-file-label" for="course_cover_horizontal">Selecione nova imagem</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row"></div>
                        <hr class="mt-4 mb-5">
                        <ul class="list-group" id="accordion">
                            <li class="d-flex justify-content-between align-items-center">
                                <div class="list-group col-12">
                                    <div class="row">
                                        <div class="col-11">
                                            <div class="header">
                                                <h2 class="header-title">Configurações do Curso</h2>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </li>
                            <div class="row">

                                <div class="col-12 col-lg-6">
                                    <div class="form-group">
                                        <label for="product_tag_id_payment_paid">Título</label>
                                        <input class="form-control" placeholder="1212" type="text" value="" name="product[tag_id_payment_paid]" id="product_tag_id_payment_paid">
                                    </div>

                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="form-group">
                                        <label for="product_tag_id_payment_pending">TAG ID: Boleto Gerado</label>
                                        <input class="form-control" placeholder="1214" type="text" value="" name="product[tag_id_payment_pending]" id="product_tag_id_payment_pending">
                                    </div>
                                    <div class="form-group">
                                        <label for="product_tag_id_abandoned_cart">TAG ID: Carrinho Abandonado</label>
                                        <input class="form-control" placeholder="1215" type="text" value="" name="product[tag_id_abandoned_cart]" id="product_tag_id_abandoned_cart">
                                    </div>
                                </div>
                            </div>
                            <div class="collapse" data-parent="" id="collapseIntegrationSettings" style="">
                            </div>
                        </ul>
                        <div class="row"></div>
                        <hr class="mt-4 mb-5">
                        <ul class="list-group" id="accordion-2">
                            <li aria-controls="collapsePageIntegrationSettings" aria-expanded="false" class="d-flex justify-content-between align-items-center collapsed" data-target="#collapsePageIntegrationSettings" data-toggle="collapse">
                                <div class="list-group col-12">
                                    <div class="row">
                                        <div class="col-11">
                                            <div class="header">
                                                <h2 class="header-title">Configurações de Páginas</h2>
                                            </div>
                                        </div>
                                        <div class="col-1 text-right">
                                            <i class="fas fa-expand-alt"></i>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <div aria-labelledby="headingPageIntegrationSettings" class="collapse" data-parent="" id="collapsePageIntegrationSettings" style="">
                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        <div class="form-group">
                                            <label for="product_sales_page_url">URL: Página de vendas</label>
                                            <input class="form-control" type="url" value="" name="product[sales_page_url]" id="product_sales_page_url">
                                        </div>
                                        <div class="form-group">
                                            <label for="product_thank_you_page_url">URL: Página de obrigado</label>
                                            <input class="form-control" type="url" value="" name="product[thank_you_page_url]" id="product_thank_you_page_url">
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="form-group">
                                            <label for="product_error_page_url">URL: Página de erro</label>
                                            <input class="form-control" type="url" value="" name="product[error_page_url]" id="product_error_page_url">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ul>
                        <!-- Divider -->
                        <div class="row"></div>
                        <hr class="mt-4 mb-5">
                        <input type="submit" name="commit" value="Salvar Produto" class="btn btn-outline-dark btn-block" data-disable-with="Salvar Produto">
                        <a class="btn btn-link btn-block text-muted" href="/dashboard/products">
                Cancelar
                </a>
                        <!-- Divider -->
                    </form>
                </div>



            </div>

        </div>
    </div>