<div class="main-content">
    <div class="header">
        <div class="container-fluid">

            <!-- Body -->
            <div class="header-body">
                <div class="row align-items-end">
                    <div class="col">

                        <!-- Pretitle -->
                        <h6 class="header-pretitle">
                            overview
                        </h6>

                        <!-- Title -->
                        <h1 class="header-title">
                            Facilitadores
                        </h1>

                    </div>
                    <div class="col-auto">

                        <!-- Button -->
                        <a href="#!" class="btn btn-primary">
          Criar Novo Facilitador
        </a>

                    </div>
                </div>
                <!-- / .row -->
            </div>
            <!-- / .header-body -->

        </div>
    </div>
    <!-- / .header -->


    <div class="row align-items-center" data-lists-class="listAlias" data-lists-values="[&quot;item-name&quot;, &quot;item-title&quot;, &quot;item-company&quot;]" data-toggle="lists">
        <!-- / .row -->
        <!-- Tab content -->
        <div class="tab-content" id="tab-cont">
            <div class="tab-pane fade active show" id="tabPaneOne" role="tabpanel">
                <div class="row listAlias">

                    <div class="col-12 col-md-6 col-lg-4 col-xl-4 pb-5">
                        <div class="card">
                            <div class="card-body">
                                <!-- / .row -->
                                <!-- Image -->
                                <a class="avatar avatar-xl card-avatar" href="/dashboard/authors/andre-siqueira">
                                    <img alt="..." class="avatar-img rounded-circle" src="../../../assets/img/avatars/profiles/avatar-5.jpg">
                                </a>
                                <!-- Body -->
                                <div class="text-center mb-5">
                                    <!-- Heading -->
                                    <h2 class="card-title">
                                        <a class="item-name" href="/dashboard/authors/andre-siqueira">André Siqueira</a>
                                    </h2>
                                    <!-- Text -->
                                    <p class="small text-muted mb-3">
                                        <span class="item-title">Co-fundador</span> na
                                        <span class="item-company">Resultados Digitais</span>
                                    </p>
                                    <!-- Buttons -->
                                    <a class="btn btn-sm btn-primary btn-rounded-circle" href="" target="_blank">
                                        <i class="far fa-comments"></i>
                                    </a>

                                </div>
                                <!-- Divider -->




                                <!-- Divider -->
                                <hr class="card-divider mb-0">
                                <!-- List group -->
                                <div class="list-group list-group-flush mb-n3">
                                    <div class="list-group-item">
                                        <div class="row">
                                            <div class="col">
                                                <!-- Text -->

                                                <small>Cursos</small>
                                            </div>
                                            <div class="col-auto">
                                                <!-- Badge -->
                                                <span class="item-score badge badge-info">8</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <!-- Text -->

                                                <small>Alunos</small>
                                            </div>
                                            <div class="col-auto">
                                                <!-- Badge -->
                                                <span class="item-score badge badge-info">1</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- / .row -->
                                </div>

                                <hr class="card-divider mb-0">

                                <div class="list-group list-group-flush mb-n3">
                                    <div class="list-group-item">
                                        <div class="row">
                                            <div class="col">
                                                <!-- Text -->

                                                <small>Roteiros</small>
                                            </div>
                                            <div class="col-auto">
                                                <!-- Badge -->
                                                <span class="item-score badge badge-success">1</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <!-- Text -->

                                                <small>Assuntos</small>
                                            </div>
                                            <div class="col-auto">
                                                <!-- Badge -->
                                                <span class="item-score badge badge-success">1</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- / .row -->
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4 col-xl-4 pb-5">
                        <div class="card">
                            <div class="card-body">
                                <!-- / .row -->
                                <!-- Image -->
                                <a class="avatar avatar-xl card-avatar" href="/dashboard/authors/andre-siqueira">
                                    <img alt="..." class="avatar-img rounded-circle" src="../../../assets/img/avatars/profiles/avatar-6.jpg">
                                </a>
                                <!-- Body -->
                                <div class="text-center mb-5">
                                    <!-- Heading -->
                                    <h2 class="card-title">
                                        <a class="item-name" href="/dashboard/authors/andre-siqueira">André Siqueira</a>
                                    </h2>
                                    <!-- Text -->
                                    <p class="small text-muted mb-3">
                                        <span class="item-title">Co-fundador</span> na
                                        <span class="item-company">Resultados Digitais</span>
                                    </p>
                                    <!-- Buttons -->
                                    <a class="btn btn-sm btn-primary btn-rounded-circle" href="" target="_blank">
                                        <i class="far fa-comments"></i>
                                    </a>

                                </div>
                                <!-- Divider -->




                                <!-- Divider -->
                                <hr class="card-divider mb-0">
                                <!-- List group -->
                                <div class="list-group list-group-flush mb-n3">
                                    <div class="list-group-item">
                                        <div class="row">
                                            <div class="col">
                                                <!-- Text -->

                                                <small>Cursos</small>
                                            </div>
                                            <div class="col-auto">
                                                <!-- Badge -->
                                                <span class="item-score badge badge-info">8</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <!-- Text -->

                                                <small>Alunos</small>
                                            </div>
                                            <div class="col-auto">
                                                <!-- Badge -->
                                                <span class="item-score badge badge-info">1</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- / .row -->
                                </div>

                                <hr class="card-divider mb-0">

                                <div class="list-group list-group-flush mb-n3">
                                    <div class="list-group-item">
                                        <div class="row">
                                            <div class="col">
                                                <!-- Text -->

                                                <small>Roteiros</small>
                                            </div>
                                            <div class="col-auto">
                                                <!-- Badge -->
                                                <span class="item-score badge badge-success">1</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <!-- Text -->

                                                <small>Assuntos</small>
                                            </div>
                                            <div class="col-auto">
                                                <!-- Badge -->
                                                <span class="item-score badge badge-success">1</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- / .row -->
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4 col-xl-4 pb-5">
                        <div class="card">
                            <div class="card-body">
                                <!-- / .row -->
                                <!-- Image -->
                                <a class="avatar avatar-xl card-avatar" href="/dashboard/authors/andre-siqueira">
                                    <img alt="..." class="avatar-img rounded-circle" src="../../../assets/img/avatars/profiles/avatar-7.jpg">
                                </a>
                                <!-- Body -->
                                <div class="text-center mb-5">
                                    <!-- Heading -->
                                    <h2 class="card-title">
                                        <a class="item-name" href="/dashboard/authors/andre-siqueira">André Siqueira</a>
                                    </h2>
                                    <!-- Text -->
                                    <p class="small text-muted mb-3">
                                        <span class="item-title">Co-fundador</span> na
                                        <span class="item-company">Resultados Digitais</span>
                                    </p>
                                    <!-- Buttons -->
                                    <a class="btn btn-sm btn-primary btn-rounded-circle" href="" target="_blank">
                                        <i class="far fa-comments"></i>
                                    </a>

                                </div>
                                <!-- Divider -->




                                <!-- Divider -->
                                <hr class="card-divider mb-0">
                                <!-- List group -->
                                <div class="list-group list-group-flush mb-n3">
                                    <div class="list-group-item">
                                        <div class="row">
                                            <div class="col">
                                                <!-- Text -->

                                                <small>Cursos</small>
                                            </div>
                                            <div class="col-auto">
                                                <!-- Badge -->
                                                <span class="item-score badge badge-info">8</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <!-- Text -->

                                                <small>Alunos</small>
                                            </div>
                                            <div class="col-auto">
                                                <!-- Badge -->
                                                <span class="item-score badge badge-info">1</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- / .row -->
                                </div>

                                <hr class="card-divider mb-0">

                                <div class="list-group list-group-flush mb-n3">
                                    <div class="list-group-item">
                                        <div class="row">
                                            <div class="col">
                                                <!-- Text -->

                                                <small>Roteiros</small>
                                            </div>
                                            <div class="col-auto">
                                                <!-- Badge -->
                                                <span class="item-score badge badge-success">1</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <!-- Text -->

                                                <small>Assuntos</small>
                                            </div>
                                            <div class="col-auto">
                                                <!-- Badge -->
                                                <span class="item-score badge badge-success">1</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- / .row -->
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <!-- / .row -->
            </div>
            <div class="tab-pane fade" id="tabPaneTwo" role="tabpanel">
                <div class="card" id="contactsList">
                    <div class="table-responsive">
                        <table class="table table-sm table-hover table-nowrap card-table">
                            <thead>
                                <tr>
                                    <th>
                                        <a class="list-sort text-muted" data-sort="item-name" href="#">Name</a>
                                    </th>
                                    <th>
                                        <a class="list-sort text-muted" data-sort="item-title" href="#">Titulo</a>
                                    </th>
                                    <th>
                                        <a class="list-sort text-muted" data-sort="item-company" href="#">Empresa</a>
                                    </th>
                                    <th colspan="2">
                                        <a class="list-sort text-muted" data-sort="item-created" href="#">Criado em</a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="list font-size-base">
                                <tr>
                                    <td>
                                        <!-- Avatar -->
                                        <div class="avatar avatar-xs align-middle mr-2">
                                            <img alt="..." class="avatar-img rounded-circle" src="https://www.beacademy.com.br/wp-content/uploads/2019/12/andre-siq.jpg">
                                        </div>
                                        <a class="item-name text-reset" href="/dashboard/authors/andre-siqueira">André Siqueira</a>
                                    </td>
                                    <td>
                                        <!-- Text -->
                                        <span class="item-title">Co-fundador</span>
                                    </td>
                                    <td>
                                        <!-- Text -->
                                        <span class="item-company">Resultados Digitais</span>
                                    </td>
                                    <td>
                                        <!-- Badge -->
                                        <time class="item-created" datetime="2020-01-14">11/06/2020 16:34:51</time>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <!-- Avatar -->
                                        <div class="avatar avatar-xs align-middle mr-2">
                                            <img alt="..." class="avatar-img rounded-circle" src="http://be-pay-learning.herokuapp.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBEUT09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--f1775ca8334a5250cdb1fc597bb76c747cddaaf5/bp.jpg">
                                        </div>
                                        <a class="item-name text-reset" href="/dashboard/authors/bruno-pinheiro">Bruno Pinheiro</a>
                                    </td>
                                    <td>
                                        <!-- Text -->
                                        <span class="item-title">CEO</span>
                                    </td>
                                    <td>
                                        <!-- Text -->
                                        <span class="item-company">Be Academy</span>
                                    </td>
                                    <td>
                                        <!-- Badge -->
                                        <time class="item-created" datetime="2020-01-14">11/06/2020 16:34:51</time>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <!-- Avatar -->
                                        <div class="avatar avatar-xs align-middle mr-2">
                                            <img alt="..." class="avatar-img rounded-circle" src="http://be-pay-learning.herokuapp.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBEZz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--ef6f65429fcbd87223af48042ae5fcb5525be04e/Carol-Calaca.png">
                                        </div>
                                        <a class="item-name text-reset" href="/dashboard/authors/carol-calaca">Carol Calaça</a>
                                    </td>
                                    <td>
                                        <!-- Text -->
                                        <span class="item-title">Master Coach</span>
                                    </td>
                                    <td>
                                        <!-- Text -->
                                        <span class="item-company">110 Ferramentas</span>
                                    </td>
                                    <td>
                                        <!-- Badge -->
                                        <time class="item-created" datetime="2020-01-14">11/06/2020 16:34:51</time>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <!-- Avatar -->
                                        <div class="avatar avatar-xs align-middle mr-2">
                                            <img alt="..." class="avatar-img rounded-circle" src="https://be-pay-learning.herokuapp.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBFdz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--a502bc6f3acd5ab819d07772883e765244bc98f8/gisele-new.jpg">
                                        </div>
                                        <a class="item-name text-reset" href="/dashboard/authors/gisele-paula">Gisele Paula</a>
                                    </td>
                                    <td>
                                        <!-- Text -->
                                        <span class="item-title">Founder</span>
                                    </td>
                                    <td>
                                        <!-- Text -->
                                        <span class="item-company">Instituto Cliente Feliz</span>
                                    </td>
                                    <td>
                                        <!-- Badge -->
                                        <time class="item-created" datetime="2020-01-14">05/07/2020 00:29:24</time>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <!-- Avatar -->
                                        <div class="avatar avatar-xs align-middle mr-2">
                                            <img alt="..." class="avatar-img rounded-circle" src="http://be-pay-learning.herokuapp.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBEdz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--ed8ecdd97877615b08cc46e806c7904229998da8/Janguie-Diniz.png">
                                        </div>
                                        <a class="item-name text-reset" href="/dashboard/authors/janguie-diniz">Janguiê Diniz</a>
                                    </td>
                                    <td>
                                        <!-- Text -->
                                        <span class="item-title">Fundador</span>
                                    </td>
                                    <td>
                                        <!-- Text -->
                                        <span class="item-company">Grupo Ser Educacional</span>
                                    </td>
                                    <td>
                                        <!-- Badge -->
                                        <time class="item-created" datetime="2020-01-14">11/06/2020 16:34:51</time>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <!-- Avatar -->
                                        <div class="avatar avatar-xs align-middle mr-2">
                                            <img alt="..." class="avatar-img rounded-circle" src="https://lp.beacademy.com.br/wp-content/uploads/2019/11/Marcos1-e1566336319779.png">
                                        </div>
                                        <a class="item-name text-reset" href="/dashboard/authors/marcos-batista">Marcos Batista</a>
                                    </td>
                                    <td>
                                        <!-- Text -->
                                        <span class="item-title">Apresentador</span>
                                    </td>
                                    <td>
                                        <!-- Text -->
                                        <span class="item-company">Inova 360 Record News</span>
                                    </td>
                                    <td>
                                        <!-- Badge -->
                                        <time class="item-created" datetime="2020-01-14">11/06/2020 16:34:51</time>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <!-- Avatar -->
                                        <div class="avatar avatar-xs align-middle mr-2">
                                            <img alt="..." class="avatar-img rounded-circle" src="https://www.beacademy.com.br/wp-content/uploads/2019/12/maxresdefault-11-640x640.jpg">
                                        </div>
                                        <a class="item-name text-reset" href="/dashboard/authors/neelio-bilate">Nélio Bilate</a>
                                    </td>
                                    <td>
                                        <!-- Text -->
                                        <span class="item-title">Culture Organization Consultant</span>
                                    </td>
                                    <td>
                                        <!-- Text -->
                                        <span class="item-company">NB Heart</span>
                                    </td>
                                    <td>
                                        <!-- Badge -->
                                        <time class="item-created" datetime="2020-01-14">11/06/2020 16:34:51</time>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <!-- Avatar -->
                                        <div class="avatar avatar-xs align-middle mr-2">
                                            <img alt="..." class="avatar-img rounded-circle" src="https://www.beacademy.com.br/wp-content/uploads/2019/12/maxresdefault-12-640x640.jpg">
                                        </div>
                                        <a class="item-name text-reset" href="/dashboard/authors/roman-romancini">Roman Romancini</a>
                                    </td>
                                    <td>
                                        <!-- Text -->
                                        <span class="item-title">VP de Vendas</span>
                                    </td>
                                    <td>
                                        <!-- Text -->
                                        <span class="item-company">Salesforce</span>
                                    </td>
                                    <td>
                                        <!-- Badge -->
                                        <time class="item-created" datetime="2020-01-14">11/06/2020 16:34:51</time>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <!-- Avatar -->
                                        <div class="avatar avatar-xs align-middle mr-2">
                                            <img alt="..." class="avatar-img rounded-circle" src="http://be-pay-learning.herokuapp.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBFQT09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--c37587fb0b9854d43582728b1721eb46a7324e64/Tania-Gomes-Luz.jpg.png">
                                        </div>
                                        <a class="item-name text-reset" href="/dashboard/authors/tania-goes-luz">Tania Goes Luz</a>
                                    </td>
                                    <td>
                                        <!-- Text -->
                                        <span class="item-title">CEO</span>
                                    </td>
                                    <td>
                                        <!-- Text -->
                                        <span class="item-company">Mooai Brasil</span>
                                    </td>
                                    <td>
                                        <!-- Badge -->
                                        <time class="item-created" datetime="2020-01-14">11/06/2020 16:34:51</time>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>