<div class="main-content">
    <div class="header">
        <div class="container-fluid">

            <!-- Body -->
            <div class="header-body">
                <div class="row align-items-end">
                    <div class="col">

                        <!-- Pretitle -->
                        <h6 class="header-pretitle">
                            overview
                        </h6>

                        <!-- Title -->
                        <h1 class="header-title">
                            Trilhas
                        </h1>

                    </div>
                    <div class="col-auto">

                        <!-- Button -->
                        <a href="#!" class="btn btn-primary">
          Filtros
        </a>

                    </div>
                </div>
                <!-- / .row -->
            </div>
            <!-- / .header-body -->

        </div>
    </div>
    <!-- / .header -->

    <div data-lists-values="[&quot;item-name&quot;]" data-toggle="lists">
        <div class="" data-lists-class="listAlias" data-lists-values="[&quot;item-name&quot;]" data-toggle="lists">
            <div class="row mb-4">
                <div class="col">
                    <!-- Form -->
                    <form>
                        <div class="input-group input-group-lg input-group-merge">
                            <input class="form-control form-control-prepended search" placeholder="Pesquisar por nome" type="text">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <span class="fe fe-search"></span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-auto">
                    <!-- Navigation (button group) -->
                    <div class="nav btn-group" role="tablist">
                        <button aria-controls="tabPaneOne" aria-selected="true" class="btn btn-lg btn-white active" data-target="#tabPaneOne" data-toggle="tab" role="tab">
        <span class="fe fe-grid"></span>
        </button>
                        <button aria-controls="tabPaneTwo" aria-selected="false" class="btn btn-lg btn-white" data-target="#tabPaneTwo" data-toggle="tab" role="tab">
        <span class="fe fe-list"></span>
        </button>
                    </div>
                    <!-- / .nav -->
                </div>
            </div>
            <!-- / .row -->
            <!-- Tab content -->
            <div class="tab-content">
                <div class="tab-pane fade active show" id="tabPaneOne" role="tabpanel">
                    <div class="row listAlias">
                        <div class="col-12 col-md-6 col-lg-3 col-xl-3 pb-5">
                            <!-- Card -->
                            <div class="card course h-100 lift cursor-pointer">
                                <a class="card-img-top mh-lg-150" href="/dashboard/paths/trilha-1-inovacao-em-negocio-business-innovation"><img alt="TRILHA 1: Inovação em Negócio ( Business Innovation )" src="https://images.unsplash.com/photo-1504992963429-56f2d62fbff0?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=600&amp;h=200">
                                </a>
                                <div class="card-body pb-2">
                                    <div class="row align-items-center min-h-60">
                                        <div class="col">
                                            <h3 class="card-title mb-2 item-name">
                                                <a href="/dashboard/paths/trilha-1-inovacao-em-negocio-business-innovation">TRILHA 1: Inovação em Negócio ( Business Innovation )</a>
                                            </h3>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row mt-3">
                                        <div class="col-12 mt-3">
                                            <span class="badge badge-light badge-pill icon mr-2">
        <i class="fe fe-book"></i>
        5 cursos(s)
        </span>
                                            <span class="badge badge-light badge-pill">
        <i class="fe fe-layers"></i>
        3 passo(s)
        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-12 col-md-6 col-lg-3 col-xl-3 pb-5">
                            <!-- Card -->
                            <div class="card course h-100 lift cursor-pointer">
                                <a class="card-img-top mh-lg-150" href="/dashboard/paths/trilha-2-estrategias-de-marketing-digital"><img alt="TRILHA 2: Estratégias de Marketing Digital" src="https://images.unsplash.com/photo-1586364800735-75db99e7185b?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=367&amp;h=190">
                                </a>
                                <div class="card-body pb-2">
                                    <div class="row align-items-center min-h-60">
                                        <div class="col">
                                            <h3 class="card-title mb-2 item-name">
                                                <a href="/dashboard/paths/trilha-2-estrategias-de-marketing-digital">TRILHA 2: Estratégias de Marketing Digital</a>
                                            </h3>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row mt-3">
                                        <div class="col-12 mt-3">
                                            <span class="badge badge-light badge-pill icon mr-2">
        <i class="fe fe-book"></i>
        0 cursos(s)
        </span>
                                            <span class="badge badge-light badge-pill">
        <i class="fe fe-layers"></i>
        3 passo(s)
        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-12 col-md-6 col-lg-3 col-xl-3 pb-5">
                            <!-- Card -->
                            <div class="card course h-100 lift cursor-pointer">
                                <a class="card-img-top mh-lg-150" href="/dashboard/paths/trilha-3-design-da-experiencia-do-consumidor-no-digital"><img alt="TRILHA 3: Design da Experiência do Consumidor no Digital" src="https://images.unsplash.com/photo-1562071707-7249ab429b2a?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=367&amp;h=190">
                                </a>
                                <div class="card-body pb-2">
                                    <div class="row align-items-center min-h-60">
                                        <div class="col">
                                            <h3 class="card-title mb-2 item-name">
                                                <a href="/dashboard/paths/trilha-3-design-da-experiencia-do-consumidor-no-digital">TRILHA 3: Design da Experiência do Consumidor no Digital</a>
                                            </h3>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row mt-3">
                                        <div class="col-12 mt-3">
                                            <span class="badge badge-light badge-pill icon mr-2">
        <i class="fe fe-book"></i>
        0 cursos(s)
        </span>
                                            <span class="badge badge-light badge-pill">
        <i class="fe fe-layers"></i>
        3 passo(s)
        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-12 col-md-6 col-lg-3 col-xl-3 pb-5">
                            <!-- Card -->
                            <div class="card course h-100 lift cursor-pointer">
                                <a class="card-img-top mh-lg-150" href="/dashboard/paths/primeiros-passos-do-empreendedorismo"><img alt="Primeiros passos do empreendedorismo" src="https://images.unsplash.com/photo-1512820790803-83ca734da794?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=367&amp;h=197">
                                </a>
                                <div class="card-body pb-2">
                                    <div class="row align-items-center min-h-60">
                                        <div class="col">
                                            <h3 class="card-title mb-2 item-name">
                                                <a href="/dashboard/paths/primeiros-passos-do-empreendedorismo">Primeiros passos do empreendedorismo</a>
                                            </h3>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row mt-3">
                                        <div class="col-12 mt-3">
                                            <span class="badge badge-light badge-pill icon mr-2">
        <i class="fe fe-book"></i>
        4 cursos(s)
        </span>
                                            <span class="badge badge-light badge-pill">
        <i class="fe fe-layers"></i>
        2 passo(s)
        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-12 col-md-6 col-lg-3 col-xl-3 pb-5">
                            <!-- Card -->
                            <div class="card course h-100 lift cursor-pointer">
                                <a class="card-img-top mh-lg-150" href="/dashboard/paths/trilha-4-gestao-estrategia-de-negocio-digital"><img alt="TRILHA 4: Gestão Estratégia de Negócio Digital" src="/assets/posts/post-1-1304a56abcc04b9b105ed2c1817bcad168cd249903e93da7cc0a41b5fc4ba526.jpg">
                                </a>
                                <div class="card-body pb-2">
                                    <div class="row align-items-center min-h-60">
                                        <div class="col">
                                            <h3 class="card-title mb-2 item-name">
                                                <a href="/dashboard/paths/trilha-4-gestao-estrategia-de-negocio-digital">TRILHA 4: Gestão Estratégia de Negócio Digital</a>
                                            </h3>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row mt-3">
                                        <div class="col-12 mt-3">
                                            <span class="badge badge-light badge-pill icon mr-2">
        <i class="fe fe-book"></i>
        0 cursos(s)
        </span>
                                            <span class="badge badge-light badge-pill">
        <i class="fe fe-layers"></i>
        3 passo(s)
        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-12 col-md-6 col-lg-3 col-xl-3 pb-5">
                            <!-- Card -->
                            <div class="card course h-100 lift cursor-pointer">
                                <a class="card-img-top mh-lg-150" href="/dashboard/paths/trilha-5-metricas-e-indicadores-de-bi"><img alt="TRILHA 5: Métricas e Indicadores de BI" src="/assets/posts/post-1-1304a56abcc04b9b105ed2c1817bcad168cd249903e93da7cc0a41b5fc4ba526.jpg">
                                </a>
                                <div class="card-body pb-2">
                                    <div class="row align-items-center min-h-60">
                                        <div class="col">
                                            <h3 class="card-title mb-2 item-name">
                                                <a href="/dashboard/paths/trilha-5-metricas-e-indicadores-de-bi">TRILHA 5: Métricas e Indicadores de BI</a>
                                            </h3>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row mt-3">
                                        <div class="col-12 mt-3">
                                            <span class="badge badge-light badge-pill icon mr-2">
        <i class="fe fe-book"></i>
        0 cursos(s)
        </span>
                                            <span class="badge badge-light badge-pill">
        <i class="fe fe-layers"></i>
        3 passo(s)
        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-12 col-md-6 col-lg-3 col-xl-3 pb-5">
                            <!-- Card -->
                            <div class="card course h-100 lift cursor-pointer">
                                <a class="card-img-top mh-lg-150" href="/dashboard/paths/formacao-de-consultores-de-negocios-online"><img alt="Formação de Consultores de Negócios Online" src="https://brunopinheiro.me/nos/wp-content/uploads/2018/07/nos.png">
                                </a>
                                <div class="card-body pb-2">
                                    <div class="row align-items-center min-h-60">
                                        <div class="col">
                                            <h3 class="card-title mb-2 item-name">
                                                <a href="/dashboard/paths/formacao-de-consultores-de-negocios-online">Formação de Consultores de Negócios Online</a>
                                            </h3>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row mt-3">
                                        <div class="col-12 mt-3">
                                            <span class="badge badge-light badge-pill icon mr-2">
        <i class="fe fe-book"></i>
        0 cursos(s)
        </span>
                                            <span class="badge badge-light badge-pill">
        <i class="fe fe-layers"></i>
        3 passo(s)
        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- / .row -->
                </div>
                <div class="tab-pane fade" id="tabPaneTwo" role="tabpanel">
                    <div class="card" id="contactsList">
                        <div class="table-responsive">
                            <table class="table table-sm table-hover table-nowrap card-table">
                                <thead>
                                    <tr>
                                        <th>
                                            <a class="list-sort text-muted item-name">Titulo</a>
                                        </th>
                                        <th>
                                            <a class="list-sort text-muted">Cursos</a>
                                        </th>
                                        <th>
                                            <a class="list-sort text-muted">Passos</a>
                                        </th>
                                        <th colspan="2">
                                            <a class="list-sort text-muted" data-sort="item-created" href="#">Criado em</a>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="list font-size-base">
                                    <tr>
                                        <td>
                                            <!-- Text -->
                                            <span class="item-name">TRILHA 1: Inovação em Negócio ( Business Innovation )</span>
                                        </td>
                                        <td>
                                            <!-- Text -->
                                            <span>5</span>
                                        </td>
                                        <td>
                                            <!-- Text -->
                                            <span>3</span>
                                        </td>
                                        <td>
                                            <!-- Badge -->
                                            <time class="item-created" datetime="2020-01-14">11/06/2020 16:34:51</time>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <!-- Text -->
                                            <span class="item-name">TRILHA 2: Estratégias de Marketing Digital</span>
                                        </td>
                                        <td>
                                            <!-- Text -->
                                            <span>0</span>
                                        </td>
                                        <td>
                                            <!-- Text -->
                                            <span>3</span>
                                        </td>
                                        <td>
                                            <!-- Badge -->
                                            <time class="item-created" datetime="2020-01-14">11/06/2020 16:34:51</time>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <!-- Text -->
                                            <span class="item-name">TRILHA 3: Design da Experiência do Consumidor no Digital</span>
                                        </td>
                                        <td>
                                            <!-- Text -->
                                            <span>0</span>
                                        </td>
                                        <td>
                                            <!-- Text -->
                                            <span>3</span>
                                        </td>
                                        <td>
                                            <!-- Badge -->
                                            <time class="item-created" datetime="2020-01-14">11/06/2020 16:34:51</time>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <!-- Text -->
                                            <span class="item-name">Primeiros passos do empreendedorismo</span>
                                        </td>
                                        <td>
                                            <!-- Text -->
                                            <span>4</span>
                                        </td>
                                        <td>
                                            <!-- Text -->
                                            <span>2</span>
                                        </td>
                                        <td>
                                            <!-- Badge -->
                                            <time class="item-created" datetime="2020-01-14">12/06/2020 18:55:02</time>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <!-- Text -->
                                            <span class="item-name">TRILHA 4: Gestão Estratégia de Negócio Digital</span>
                                        </td>
                                        <td>
                                            <!-- Text -->
                                            <span>0</span>
                                        </td>
                                        <td>
                                            <!-- Text -->
                                            <span>3</span>
                                        </td>
                                        <td>
                                            <!-- Badge -->
                                            <time class="item-created" datetime="2020-01-14">11/06/2020 16:34:51</time>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <!-- Text -->
                                            <span class="item-name">TRILHA 5: Métricas e Indicadores de BI</span>
                                        </td>
                                        <td>
                                            <!-- Text -->
                                            <span>0</span>
                                        </td>
                                        <td>
                                            <!-- Text -->
                                            <span>3</span>
                                        </td>
                                        <td>
                                            <!-- Badge -->
                                            <time class="item-created" datetime="2020-01-14">11/06/2020 16:34:51</time>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <!-- Text -->
                                            <span class="item-name">Formação de Consultores de Negócios Online</span>
                                        </td>
                                        <td>
                                            <!-- Text -->
                                            <span>0</span>
                                        </td>
                                        <td>
                                            <!-- Text -->
                                            <span>3</span>
                                        </td>
                                        <td>
                                            <!-- Badge -->
                                            <time class="item-created" datetime="2020-01-14">11/06/2020 16:34:51</time>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>