<div class="main-content">
    <div class="header">
        <div class="container-fluid">

            <!-- Body -->
            <div class="header-body">
                <div class="row align-items-end">
                    <div class="col">

                        <!-- Pretitle -->
                        <h6 class="header-pretitle">
                            overview
                        </h6>

                        <!-- Title -->
                        <h1 class="header-title">
                            Categorias
                        </h1>

                    </div>
                    <div class="col-auto">

                        <!-- Button -->
                        <a class="btn btn-outline-dark" href="/courses/new">
                            Nova Categoria
                        </a>

                    </div>
                </div>
                <!-- / .row -->
            </div>
            <!-- / .header-body -->

            <div class="row align-items-center" id="pesquisa">
                <div class="col">
                    <!-- Form -->
                    <form>
                        <div class="input-group input-group-lg input-group-merge">
                            <input class="form-control form-control-prepended search" placeholder="Pesquise por nome" type="text">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <span class="fe fe-search"></span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="card mt-3" id="productsList">
                <div class="table-responsive mb-0">
                    <table class="table table-sm table-wrap card-table">
                        <thead>
                            <tr>
                                <th class="item-name">Nome</th>
                                <th>Criado em</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="list font-size-base">
                            <tr>
                                <td class="item-name"><a href="/dashboard/products/AHLxhnThwL3RWvXxsQ63KmND">Be Play</a></td>
                                <td>12/06/2020 19:05:27</td>
                                <td>
                                    <a class="" href="/dashboard/products/AHLxhnThwL3RWvXxsQ63KmND/edit"><i class="fe fe-edit"></i>
                Editar
                </a></td>
                            </tr>
                            <tr>
                                <td class="item-name"><a href="/dashboard/products/P7gpsH7kFUv6cYHQNJci9XGd">Desafio WOW</a></td>
                                <td>05/07/2020 00:44:26</td>
                                <td>
                                    <a class="" href="/dashboard/products/P7gpsH7kFUv6cYHQNJci9XGd/edit"><i class="fe fe-edit"></i>
                Editar
                </a></td>
                            </tr>
                            <tr>
                                <td class="item-name"><a href="/dashboard/products/WSqUeYfpCapovSCF7xH7Ca8A">Desevolvimento de Negócios</a></td>
                                <td>18/06/2020 02:10:16</td>
                                <td>
                                    <a class="" href="/dashboard/products/WSqUeYfpCapovSCF7xH7Ca8A/edit"><i class="fe fe-edit"></i>
                Editar
                </a></td>
                            </tr>
                            <tr>
                                <td class="item-name"><a href="/dashboard/products/yfwfyr75RDnidPTvFvDNLLNK">Lopes time de HR</a></td>
                                <td>09/11/2020 16:17:17</td>
                                <td>
                                    <a class="" href="/dashboard/products/yfwfyr75RDnidPTvFvDNLLNK/edit"><i class="fe fe-edit"></i>
                Editar
                </a></td>
                            </tr>
                            <tr>
                                <td class="item-name"><a href="/dashboard/products/MnhkKqvkxCSCZ22nJNwDSjYG">Marketing Digital E Funil de Vendas</a></td>
                                <td>17/06/2020 15:54:26</td>
                                <td>
                                    <a class="" href="/dashboard/products/MnhkKqvkxCSCZ22nJNwDSjYG/edit"><i class="fe fe-edit"></i>
                Editar
                </a></td>
                            </tr>
                            <tr>
                                <td class="item-name"><a href="/dashboard/products/N4P5j5t7QCHkEFpVKhXjBAJJ">Mentalidade E Cultura Para Inovação</a></td>
                                <td>18/06/2020 01:50:40</td>
                                <td>
                                    <a class="" href="/dashboard/products/N4P5j5t7QCHkEFpVKhXjBAJJ/edit"><i class="fe fe-edit"></i>
                Editar
                </a></td>
                            </tr>
                            <tr>
                                <td class="item-name"><a href="/dashboard/products/xaGFSQKYXr1Ybx9V7pjzZyfu">Pacote 3 cursos</a></td>
                                <td>16/07/2020 18:50:15</td>
                                <td>
                                    <a class="" href="/dashboard/products/xaGFSQKYXr1Ybx9V7pjzZyfu/edit"><i class="fe fe-edit"></i>
                Editar
                </a></td>
                            </tr>
                            <tr>
                                <td class="item-name"><a href="/dashboard/products/o53Za5jTa9EaeZkCvST8FiYb">Pacote Trilha</a></td>
                                <td>19/08/2020 13:13:34</td>
                                <td>
                                    <a class="" href="/dashboard/products/o53Za5jTa9EaeZkCvST8FiYb/edit"><i class="fe fe-edit"></i>
                Editar
                </a></td>
                            </tr>
                            <tr>
                                <td class="item-name"><a href="/dashboard/products/FPqr6XfVAQRvrGLPBmZBDiqN">Produto X</a></td>
                                <td>21/07/2020 13:55:32</td>
                                <td>
                                    <a class="" href="/dashboard/products/FPqr6XfVAQRvrGLPBmZBDiqN/edit"><i class="fe fe-edit"></i>
                Editar
                </a></td>
                            </tr>
                            <tr>
                                <td class="item-name"><a href="/dashboard/products/kWxZVwvi8q9sjtymPEVV3TaK">Resilientes Summit</a></td>
                                <td>11/06/2020 16:36:07</td>
                                <td>
                                    <a class="" href="/dashboard/products/kWxZVwvi8q9sjtymPEVV3TaK/edit"><i class="fe fe-edit"></i>
                Editar
                </a></td>
                            </tr>
                            <tr>
                                <td class="item-name"><a href="/dashboard/products/v8aCCc1mf4HDZ7q59RHzVGpY">Retomada</a></td>
                                <td>23/07/2020 22:02:36</td>
                                <td>
                                    <a class="" href="/dashboard/products/v8aCCc1mf4HDZ7q59RHzVGpY/edit"><i class="fe fe-edit"></i>
                Editar
                </a></td>
                            </tr>
                            <tr>
                                <td class="item-name"><a href="/dashboard/products/NsukQaRhw1zdUk67cZgvqz7D">Trilha Empreendedorismo</a></td>
                                <td>24/06/2020 23:29:12</td>
                                <td>
                                    <a class="" href="/dashboard/products/NsukQaRhw1zdUk67cZgvqz7D/edit"><i class="fe fe-edit"></i>
                Editar
                </a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>