<div class="main-content">
    <div class="header">
        <div class="container-fluid">
            <!-- Body -->
            <div class="header-body">
                <div class="row align-items-end">
                    <div class="col">

                        <!-- Pretitle -->
                        <h6 class="header-pretitle">
                            overview
                        </h6>

                        <!-- Title -->
                        <h1 class="header-title">
                            Comentários
                        </h1>

                    </div>
                </div>
                <!-- / .row -->
            </div>
            <!-- / .header-body -->
            <div class="div">
                <div class="row align-items-center" id="pesquisa">
                    <div class="col">
                        <!-- Form -->
                        <form>
                            <div class="input-group input-group-lg input-group-merge">
                                <input class="form-control form-control-prepended search" placeholder="Pesquise por nome" type="text">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <span class="fe fe-search"></span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <hr>

                <div class="card shadow-lg">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-auto">

                                <!-- Avatar -->
                                <a href="profile-posts.html" class="avatar avatar-lg">
                                    <img src="../../../assets/img/avatars/profiles/avatar-2.jpg" alt="..." class="avatar-img rounded-circle">
                                </a>
                                <p class="small mb-0">
                                    <span class="text-info">●</span> Away
                                </p>

                            </div>
                            <div class="col ml-n2">

                                <!-- Title -->
                                <h4 class="mb-1">
                                    <a href="profile-posts.html">Dina Smiley</a>
                                </h4>

                                <!-- Text -->
                                <p class="small text-muted mb-1">
                                    You either die Spongebob or you live long enough to...
                                </p>
                                <hr>
                                <div class="row">
                                    <div class="col">
                                        <!-- Buttons -->
                                        <a class="btn btn-sm btn-outline-success" data-target="#modal-57" data-toggle="modal" href="#!">
                                            <i class="fe fe-send"></i> Responder
                                        </a>
                                        <a class="btn btn-sm btn-outline-primary" data-target="#modal-57" data-toggle="modal" href="#!">
                                            <i class="fe fe-message-circle"></i> Respostas (2)
                                        </a>
                                        <a class="btn btn-sm btn-outline-danger" title="Excluir" data-behavior="delete" data-redirect-to="/dashboard/comments" href="/dashboard/comments/57?authenticity_token=3KpNLjm6LnWOflEOR8OW2bTYBCa%2BxwPWJ3M3hDyI6P1iar45%2FE397Pp4rujM5iHFHdSTHgalTELta5DDYZvAsg%3D%3D"><i class="fe fe-trash"></i> Deletar
                                        </a>
                                    </div>
                                </div>


                            </div>
                            <div class="col-auto">

                                <!-- Button -->
                                <p class="small mb-0 col-auto header-pretitle">
                                    curso
                                </p>
                                <a href="profile-posts.html" class="avatar avatar-lg">
                                    <img src="../../../assets/img/avatars/profiles/avatar-5.jpg" alt="..." class="avatar-img rounded-circle">
                                </a>

                            </div>


                            <div class="col-auto">

                                <!-- Dropdown -->
                                <div class="dropdown">
                                    <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" data-expanded="false">
                                        <i class="fe fe-more-vertical"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href="#!" class="dropdown-item">
                                Action
                              </a>
                                        <a href="#!" class="dropdown-item">
                                Another action
                              </a>
                                        <a href="#!" class="dropdown-item">
                                Something else here
                              </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- / .row -->
                    </div>
                    <!-- / .card-body -->
                </div>
                <div class="card shadow-lg">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-auto">

                                <!-- Avatar -->
                                <a href="profile-posts.html" class="avatar avatar-lg">
                                    <img src="../../../assets/img/avatars/profiles/avatar-2.jpg" alt="..." class="avatar-img rounded-circle">
                                </a>
                                <p class="small mb-0">
                                    <span class="text-danger">●</span> Offline
                                </p>

                            </div>
                            <div class="col ml-n2">

                                <!-- Title -->
                                <h4 class="mb-1">
                                    <a href="profile-posts.html">Dina Smiley</a>
                                </h4>

                                <!-- Text -->
                                <p class="small text-muted mb-1">
                                    You either die Spongebob or you live long enough to...
                                </p>
                                <hr>
                                <div class="row">
                                    <div class="col">
                                        <!-- Buttons -->
                                        <a class="btn btn-sm btn-outline-success" data-target="#modal-57" data-toggle="modal" href="#!">
                                            <i class="fe fe-send"></i> Responder
                                        </a>
                                        <a class="btn btn-sm btn-outline-primary" data-target="#modal-57" data-toggle="modal" href="#!">
                                            <i class="fe fe-message-circle"></i> Respostas (2)
                                        </a>
                                        <a class="btn btn-sm btn-outline-danger" title="Excluir" data-behavior="delete" data-redirect-to="/dashboard/comments" href="/dashboard/comments/57?authenticity_token=3KpNLjm6LnWOflEOR8OW2bTYBCa%2BxwPWJ3M3hDyI6P1iar45%2FE397Pp4rujM5iHFHdSTHgalTELta5DDYZvAsg%3D%3D"><i class="fe fe-trash"></i> Deletar
                                        </a>
                                    </div>
                                </div>


                            </div>
                            <div class="col-auto">

                                <!-- Button -->
                                <p class="small mb-0 col-auto header-pretitle">
                                    curso
                                </p>
                                <a href="profile-posts.html" class="avatar avatar-lg">
                                    <img src="../../../assets/img/avatars/profiles/avatar-5.jpg" alt="..." class="avatar-img rounded-circle">
                                </a>

                            </div>


                            <div class="col-auto">

                                <!-- Dropdown -->
                                <div class="dropdown">
                                    <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" data-expanded="false">
                                        <i class="fe fe-more-vertical"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href="#!" class="dropdown-item">
                                Action
                              </a>
                                        <a href="#!" class="dropdown-item">
                                Another action
                              </a>
                                        <a href="#!" class="dropdown-item">
                                Something else here
                              </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- / .row -->
                    </div>
                    <!-- / .card-body -->
                </div>
                <div class="card shadow-lg">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-auto">

                                <!-- Avatar -->
                                <a href="profile-posts.html" class="avatar avatar-lg">
                                    <img src="../../../assets/img/avatars/profiles/avatar-2.jpg" alt="..." class="avatar-img rounded-circle">
                                </a>
                                <p class="small mb-0">
                                    <span class="text-success">●</span> Online
                                </p>

                            </div>
                            <div class="col ml-n2">

                                <!-- Title -->
                                <h4 class="mb-1">
                                    <a href="profile-posts.html">Dina Smiley</a>
                                </h4>

                                <!-- Text -->
                                <p class="small text-muted mb-1">
                                    You either die Spongebob or you live long enough to...
                                </p>
                                <hr>
                                <div class="row">
                                    <div class="col">
                                        <!-- Buttons -->
                                        <a class="btn btn-sm btn-outline-success" data-target="#modal-57" data-toggle="modal" href="#!">
                                            <i class="fe fe-send"></i> Responder
                                        </a>
                                        <a class="btn btn-sm btn-outline-primary" data-target="#modal-57" data-toggle="modal" href="#!">
                                            <i class="fe fe-message-circle"></i> Respostas (2)
                                        </a>
                                        <a class="btn btn-sm btn-outline-danger" title="Excluir" data-behavior="delete" data-redirect-to="/dashboard/comments" href="/dashboard/comments/57?authenticity_token=3KpNLjm6LnWOflEOR8OW2bTYBCa%2BxwPWJ3M3hDyI6P1iar45%2FE397Pp4rujM5iHFHdSTHgalTELta5DDYZvAsg%3D%3D"><i class="fe fe-trash"></i> Deletar
                                        </a>
                                    </div>
                                </div>


                            </div>
                            <div class="col-auto">

                                <!-- Button -->
                                <p class="small mb-0 col-auto header-pretitle">
                                    curso
                                </p>
                                <a href="profile-posts.html" class="avatar avatar-lg">
                                    <img src="../../../assets/img/avatars/profiles/avatar-5.jpg" alt="..." class="avatar-img rounded-circle">
                                </a>

                            </div>


                            <div class="col-auto">

                                <!-- Dropdown -->
                                <div class="dropdown">
                                    <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" data-expanded="false">
                                        <i class="fe fe-more-vertical"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href="#!" class="dropdown-item">
                                Action
                              </a>
                                        <a href="#!" class="dropdown-item">
                                Another action
                              </a>
                                        <a href="#!" class="dropdown-item">
                                Something else here
                              </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- / .row -->
                    </div>
                    <!-- / .card-body -->
                </div>
                <div class="card shadow-lg">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-auto">

                                <!-- Avatar -->
                                <a href="profile-posts.html" class="avatar avatar-lg">
                                    <img src="../../../assets/img/avatars/profiles/avatar-2.jpg" alt="..." class="avatar-img rounded-circle">
                                </a>
                                <p class="small mb-0">
                                    <span class="text-yellow">●</span> Offline
                                </p>

                            </div>
                            <div class="col ml-n2">

                                <!-- Title -->
                                <h4 class="mb-1">
                                    <a href="profile-posts.html">Dina Smiley</a>
                                </h4>

                                <!-- Text -->
                                <p class="small text-muted mb-1">
                                    You either die Spongebob or you live long enough to...
                                </p>
                                <hr>
                                <div class="row">
                                    <div class="col">
                                        <!-- Buttons -->
                                        <a class="btn btn-sm btn-outline-success" data-target="#modal-57" data-toggle="modal" href="#!">
                                            <i class="fe fe-send"></i> Responder
                                        </a>
                                        <a class="btn btn-sm btn-outline-primary" data-target="#modal-57" data-toggle="modal" href="#!">
                                            <i class="fe fe-message-circle"></i> Respostas (2)
                                        </a>
                                        <a class="btn btn-sm btn-outline-danger" title="Excluir" data-behavior="delete" data-redirect-to="/dashboard/comments" href="/dashboard/comments/57?authenticity_token=3KpNLjm6LnWOflEOR8OW2bTYBCa%2BxwPWJ3M3hDyI6P1iar45%2FE397Pp4rujM5iHFHdSTHgalTELta5DDYZvAsg%3D%3D"><i class="fe fe-trash"></i> Deletar
                                        </a>
                                    </div>
                                </div>


                            </div>
                            <div class="col-auto">

                                <!-- Button -->
                                <p class="small mb-0 col-auto header-pretitle">
                                    curso
                                </p>
                                <a href="profile-posts.html" class="avatar avatar-lg">
                                    <img src="../../../assets/img/avatars/profiles/avatar-5.jpg" alt="..." class="avatar-img rounded-circle">
                                </a>

                            </div>


                            <div class="col-auto">

                                <!-- Dropdown -->
                                <div class="dropdown">
                                    <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" data-expanded="false">
                                        <i class="fe fe-more-vertical"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href="#!" class="dropdown-item">
                                Action
                              </a>
                                        <a href="#!" class="dropdown-item">
                                Another action
                              </a>
                                        <a href="#!" class="dropdown-item">
                                Something else here
                              </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- / .row -->
                    </div>
                    <!-- / .card-body -->
                </div>



            </div>

        </div>
    </div>


</div>