<div class="main-content">
    <div class="header">
        <div class="container-fluid">
            <!-- Body -->
            <div class="header-body">
                <div class="row align-items-end">
                    <div class="col">

                        <!-- Pretitle -->
                        <h6 class="header-pretitle">
                            overview
                        </h6>

                        <!-- Title -->
                        <h1 class="header-title">
                            Comentários
                        </h1>

                    </div>
                </div>
                <!-- / .row -->
            </div>
            <!-- / .header-body -->

            <div class="div">
                <div class="row align-items-center mb-5 mt-5" id="pesquisa">
                    <div class="col">
                        <!-- Form -->
                        <form>
                            <div class="input-group input-group-lg input-group-merge">
                                <input class="form-control form-control-prepended search" placeholder="Pesquise por Comentário" type="text">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fas fa-search"></i>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>


                <div class="card shadow-lg">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-auto">

                                <!-- Avatar -->
                                <a href="#" class="avatar avatar-lg">
                                    <img src="../../../assets/img/avatars/profiles/avatar-2.jpg" alt="..." class="avatar-img rounded-circle">
                                </a>
                                <p class="small mb-0">
                                    <span class="text-info">●</span> Away
                                </p>

                            </div>
                            <div class="col ml-n2">

                                <!-- Title -->
                                <h4 class="mb-1">
                                    <a href="#">John Smith</a>
                                </h4>

                                <!-- Text -->
                                <p class="card-text small text-muted">
                                    <i class="far fa-clock"></i>
                                    <time datetime="2018-05-24">3 months</time>
                                </p>
                                <hr>
                                <div class="col">
                                    <p class="text-emphasized">Comentário Excelente!!! </p>
                                    <br>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <!-- Buttons -->
                                        <a class="btn btn-sm btn-outline-success" data-target="#modal-57" data-toggle="modal" href="#!">
                                            <i class="fas fa-paper-plane"></i> Responder
                                        </a>
                                        <a class="btn btn-sm btn-outline-primary" data-target="#modal-57" data-toggle="modal" href="#!">
                                            <i class="fa fa-comment"></i> Respostas (2)
                                        </a>
                                        <a class="btn btn-sm btn-outline-danger" title="Excluir" data-behavior="delete" data-redirect-to="/dashboard/comments" href="#"><i class="far fa-trash-alt"></i> Deletar
                                        </a>
                                    </div>
                                </div>


                            </div>
                            <div class="col-1">
                                <p class="text-md-center small mb-0 header-pretitle">
                                    Curso
                                </p>
                                <h5 class="text-md-center">Desenv. de Páginas Web</h5>
                                <br>
                                <p class="text-md-center small mb-0 header-pretitle">
                                    Aula
                                </p>
                                <h5 class="text-md-center badge-pill badge-success">03</h5>
                            </div>


                            <div class="col-auto">

                                <!-- Dropdown -->
                                <div class="dropdown">
                                    <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" data-expanded="false">
                                        <i class="fe fe-more-vertical"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href="#!" class="dropdown-item">
                                Action
                              </a>
                                        <a href="#!" class="dropdown-item">
                                Another action
                              </a>
                                        <a href="#!" class="dropdown-item">
                                Something else here
                              </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- / .row -->
                    </div>
                    <!-- / .card-body -->
                </div>
                <div class="card shadow-lg">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-auto">

                                <!-- Avatar -->
                                <a href="#" class="avatar avatar-lg">
                                    <img src="../../../assets/img/avatars/profiles/avatar-2.jpg" alt="..." class="avatar-img rounded-circle">
                                </a>
                                <p class="small mb-0">
                                    <span class="text-info">●</span> Away
                                </p>

                            </div>
                            <div class="col ml-n2">

                                <!-- Title -->
                                <h4 class="mb-1">
                                    <a href="#">John Smith</a>
                                </h4>

                                <!-- Text -->
                                <p class="card-text small text-muted">
                                    <i class="far fa-clock"></i>
                                    <time datetime="2018-05-24">3 months</time>
                                </p>
                                <hr>
                                <div class="col">
                                    <p class="text-emphasized">Comentário Excelente!!! </p>
                                    <br>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <!-- Buttons -->
                                        <a class="btn btn-sm btn-outline-success" data-target="#modal-57" data-toggle="modal" href="#!">
                                            <i class="fas fa-paper-plane"></i> Responder
                                        </a>
                                        <a class="btn btn-sm btn-outline-primary" data-target="#modal-57" data-toggle="modal" href="#!">
                                            <i class="fa fa-comment"></i> Respostas (2)
                                        </a>
                                        <a class="btn btn-sm btn-outline-danger" title="Excluir" data-behavior="delete" data-redirect-to="/dashboard/comments" href="#"><i class="far fa-trash-alt"></i> Deletar
                                        </a>
                                    </div>
                                </div>


                            </div>
                            <div class="col-1">
                                <p class="text-md-center small mb-0 header-pretitle">
                                    Curso
                                </p>
                                <h5 class="text-md-center">Desenv. de Páginas Web</h5>
                                <br>
                                <p class="text-md-center small mb-0 header-pretitle">
                                    Aula
                                </p>
                                <h5 class="text-md-center badge-pill badge-success">03</h5>
                            </div>


                            <div class="col-auto">

                                <!-- Dropdown -->
                                <div class="dropdown">
                                    <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" data-expanded="false">
                                        <i class="fe fe-more-vertical"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href="#!" class="dropdown-item">
                                Action
                              </a>
                                        <a href="#!" class="dropdown-item">
                                Another action
                              </a>
                                        <a href="#!" class="dropdown-item">
                                Something else here
                              </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- / .row -->
                    </div>
                    <!-- / .card-body -->
                </div>
                <div class="card shadow-lg">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-auto">

                                <!-- Avatar -->
                                <a href="#" class="avatar avatar-lg">
                                    <img src="../../../assets/img/avatars/profiles/avatar-2.jpg" alt="..." class="avatar-img rounded-circle">
                                </a>
                                <p class="small mb-0">
                                    <span class="text-info">●</span> Away
                                </p>

                            </div>
                            <div class="col ml-n2">

                                <!-- Title -->
                                <h4 class="mb-1">
                                    <a href="#">John Smith</a>
                                </h4>

                                <!-- Text -->
                                <p class="card-text small text-muted">
                                    <i class="far fa-clock"></i>
                                    <time datetime="2018-05-24">3 months</time>
                                </p>
                                <hr>
                                <div class="col">
                                    <p class="text-emphasized">Comentário Excelente!!! </p>
                                    <br>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <!-- Buttons -->
                                        <a class="btn btn-sm btn-outline-success" data-target="#modal-57" data-toggle="modal" href="#!">
                                            <i class="fas fa-paper-plane"></i> Responder
                                        </a>
                                        <a class="btn btn-sm btn-outline-primary" data-target="#modal-57" data-toggle="modal" href="#!">
                                            <i class="fa fa-comment"></i> Respostas (2)
                                        </a>
                                        <a class="btn btn-sm btn-outline-danger" title="Excluir" data-behavior="delete" data-redirect-to="/dashboard/comments" href="#"><i class="far fa-trash-alt"></i> Deletar
                                        </a>
                                    </div>
                                </div>


                            </div>
                            <div class="col-1">
                                <p class="text-md-center small mb-0 header-pretitle">
                                    Curso
                                </p>
                                <h5 class="text-md-center">Desenv. de Páginas Web</h5>
                                <br>
                                <p class="text-md-center small mb-0 header-pretitle">
                                    Aula
                                </p>
                                <h5 class="text-md-center badge-pill badge-success">03</h5>
                            </div>


                            <div class="col-auto">

                                <!-- Dropdown -->
                                <div class="dropdown">
                                    <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" data-expanded="false">
                                        <i class="fe fe-more-vertical"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href="#!" class="dropdown-item">
                                Action
                              </a>
                                        <a href="#!" class="dropdown-item">
                                Another action
                              </a>
                                        <a href="#!" class="dropdown-item">
                                Something else here
                              </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- / .row -->
                    </div>
                    <!-- / .card-body -->
                </div>

            </div>

        </div>
    </div>


</div>