.logo {
    width: 100px;
}

q {
    font-style: italic;
    font-size: 1.2rem;
    quotes: "« " " »";
}

.main-content {
    padding-left: 249px;
    // max-width: 1140px;
    overflow: hidden;
}

// .container-fluid {
//     display: grid;
//     grid-template-columns: repeat(3, 1fr);
//     gap: 15px;
// }
// .card {
//     width: 100%;
//     display: block;
// }